<div class="modal fade" id="edit-modal-{{movie.id}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModal">{{movie.fields.Name}}</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>   <!-- it add a X close sign-->    
            </div>
            <div class="modal-body">
                <form action="{% url 'edit' movie_id=movie.id %}" method="post">    <!--#call create function in views when create buton clicked-->
                    {% csrf_token %}    <!--django security you need to have it after form when methon="post"-->
                    <div class="form-group">
                        <labal for="EditName">Name</labal>
                        <input type="text" class="form-control" name="name" placeholder="Enter name" id="editName" value="{{ movie.fields.Name}}" required />
                    </div>
                    <div class="form-group">
                            <labal for="editURL">Image URL</labal>
                            <input type="text" class="form-control" name="url" placeholder="Image URL" id="editURL" value="{{ movie.fields.Picures.0.url}}">
                    </div> 
                    <div class="form-group">
                            <labal for="editRating">Rating</labal>
                            <input type="number" class="form-control" name="rating" placeholder="1-10" id="editRating" min="1" max="10" value="{{ movie.fields.Rating}}" required /> <!--min and max to control number-->
                    </div>
                    <div class="form-group">
                            <labal for="editNotes">Notes</labal>
                            <textarea name="notes" placeholder="Add notes" id="editNotes" class="form-control" value="{{ movie.fields.NOtes}}"> </textarea>    
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>